.kanban-task{
  padding: 1.5rem;
  border-radius: .5rem;
  background-color: #fff;
  min-width: 150px;
  min-height: 100px;
  margin-bottom: 1rem;
  cursor: pointer;

  &:hover{
    box-shadow: 0 0 20px 2px #75757520;
  }
}
